In [ ]:
# Pump‚Äëstats API workflow
# –≠—Ç–æ—Ç –Ω–æ—É—Ç–±—É–∫ –¥–µ–º–æ–Ω—Å—Ç—Ä–∏—Ä—É–µ—Ç **–ø–æ–ª–Ω—ã–π —Ü–∏–∫–ª** —Ä–∞–±–æ—Ç—ã —Å MEXC‚ÄëAPI —á–µ—Ä–µ–∑ –∫–ª–∞—Å—Å `PumpWatcher`, –≤–∫–ª—é—á–∞—è:
# 1. –æ—á–∏—Å—Ç–∫—É —Ç–∞–±–ª–∏—Ü—ã `pump_event_stats`,
# 2. –ø–æ–ª—É—á–µ–Ω–∏–µ –ø–æ—Å–ª–µ–¥–Ω–∏—Ö —Å–≤–µ—á–µ–π –æ—Ç API,
# 3. —Ñ–∏–∫—Å–∞—Ü–∏—é –Ω–æ–≤—ã—Ö –ø–∞–º–ø‚Äë–∏–≤–µ–Ω—Ç–æ–≤ –≤ –ë–î,
# 4. –ø—Ä–æ—Å–º–æ—Ç—Ä –∑–∞–ø–∏—Å–µ–π –∏ —Å–≤–æ–¥–Ω–æ–π —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–∏.

In [14]:

# > –í—Å–µ —Ñ—É–Ω–∫—Ü–∏–∏ –æ–ø—Ä–µ–¥–µ–ª–µ–Ω—ã –ø—Ä—è–º–æ –≤ –Ω–æ—É—Ç–±—É–∫–µ, –ø–æ—ç—Ç–æ–º—É –Ω–∏—á–µ–≥–æ –∏–º–ø–æ—Ä—Ç–∏—Ä–æ–≤–∞—Ç—å –Ω–µ –Ω—É–∂–Ω–æ.
import time, requests, psycopg2, logging
from datetime import datetime, timedelta, timezone
from typing import Optional, Tuple, Dict, List, Callable

In [15]:

# ‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî
# 1) –õ–æ–≥–∏—Ä–æ–≤–∞–Ω–∏–µ
logging.basicConfig(
    level=logging.INFO,
    format="[%(asctime)s] %(levelname)s: %(message)s",
    datefmt="%H:%M:%S",
)
logger = logging.getLogger(__name__)

In [54]:

# ‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî
# 2) –ü–∞—Ä–∞–º–µ—Ç—Ä—ã –ø–æ–¥–∫–ª—é—á–µ–Ω–∏—è –∫ Postgres
DB: Dict[str, str | int] = {
    "dbname": "mexc_statistics_case",
    "user": "postgres",
    "password": "1374fjsney831",
    "host": "localhost",
    "port": 5432,
}

SYMBOL: str = "ALPACA_USDT"
PUMP_THR: float = 1.001     # +7¬†% –∫ —Ü–µ–Ω–µ 3¬†—á –Ω–∞–∑–∞–¥ ‚Üí —Å—á–∏—Ç–∞–µ–º –ø–∞–º–ø
# ‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî
def _pg():
    """–ü–æ–¥–∫–ª—é—á–µ–Ω–∏–µ –∫¬†PostgreSQL —Å autocommit."""
    conn = psycopg2.connect(**DB)
    conn.autocommit = True
    return conn

def init_table() -> None:
    """–°–æ–∑–¥–∞—ë–º —Ç–∞–±–ª–∏—Ü—É, –µ—Å–ª–∏ –µ—ë –µ—â—ë –Ω–µ—Ç."""
    ddl = """
    CREATE TABLE IF NOT EXISTS pump_event_stats (
        id            SERIAL PRIMARY KEY,
        coin_symbol   TEXT NOT NULL REFERENCES coins(coin) ON DELETE CASCADE,
        pump_start_ts BIGINT NOT NULL,
        pump_end_ts   BIGINT,
        duration_sec  INTEGER,
        diff_percent  NUMERIC(8,3),
        bucket        VARCHAR(20),
        is_profit     BOOLEAN,
        UNIQUE (coin_symbol, pump_start_ts)
    );"""
    with _pg() as conn, conn.cursor() as cur:
        cur.execute(ddl)

def clear_table(symbol: str) -> None:
    """–£–¥–∞–ª—è–µ—Ç –≤—Å–µ –∑–∞–ø–∏—Å–∏ –¥–ª—è —É–∫–∞–∑–∞–Ω–Ω–æ–≥–æ —Å–∏–º–≤–æ–ª–∞."""
    with _pg() as conn, conn.cursor() as cur:
        cur.execute("DELETE FROM pump_event_stats WHERE coin_symbol=%s", (symbol,))

def upsert_stat(symbol: str, ts_start: int, ts_end: Optional[int],
                diff_pct: Optional[float], bucket: str, is_profit: Optional[bool]) -> None:
    duration = ts_end - ts_start if ts_end else None
    sql = """
    INSERT INTO pump_event_stats
          (coin_symbol, pump_start_ts, pump_end_ts,
           duration_sec, diff_percent, bucket, is_profit)
    VALUES (%s,%s,%s,%s,%s,%s,%s)
    ON CONFLICT (coin_symbol, pump_start_ts)
        DO UPDATE SET
            pump_end_ts   = EXCLUDED.pump_end_ts,
            duration_sec  = EXCLUDED.duration_sec,
            diff_percent  = EXCLUDED.diff_percent,
            bucket        = EXCLUDED.bucket,
            is_profit     = EXCLUDED.is_profit;"""
    with _pg() as conn, conn.cursor() as cur:
        cur.execute(sql, (symbol, ts_start, ts_end, duration,
                          diff_pct, bucket, is_profit))

def stats_last72h(symbol: str) -> Dict[str, int | float]:
    t0 = int((datetime.now(timezone.utc) - timedelta(days=3)).timestamp())
    sql = """
    WITH s AS (
        SELECT * FROM pump_event_stats
        WHERE coin_symbol=%s AND pump_start_ts >= %s
    )
    SELECT
        SUM((bucket='fifteen_minutes')::int) AS fifteen,
        SUM((bucket='three_hours')::int)     AS three_h,
        SUM((bucket='one_day')::int)         AS one_d,
        SUM((bucket='more_one_day')::int)    AS more_d,
        SUM((bucket='in_deal')::int)         AS in_deal,
        COUNT(*)                             AS total,
        SUM((is_profit IS TRUE)::int)        AS wins,
        SUM((is_profit IS FALSE)::int)       AS losses,
        ROUND(COALESCE(SUM(diff_percent)
              FILTER (WHERE is_profit),0),2) AS sum_profit_pct,
        ROUND(COALESCE(SUM(diff_percent)
              FILTER (WHERE is_profit IS FALSE),0),2) AS sum_loss_pct
    FROM s;"""
    with _pg() as conn, conn.cursor() as cur:
        cur.execute(sql, (symbol, t0))
        return dict(zip([d.name for d in cur.description], cur.fetchone()))

In [55]:

# ‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî
# 3) –†–∞–±–æ—Ç–∞ —Å MEXC API: –±–µ—Ä—ë–º –ø–æ—Å–ª–µ–¥–Ω—é—é 15‚Äë–º–∏–Ω —Å–≤–µ—á—É
def last_candle(symbol: str,
                session: Callable[..., requests.Response] = requests.get,
                interval: str = "Min1") -> Optional[Tuple[int, float]]:
    """
    –í–æ–∑–≤—Ä–∞—â–∞–µ—Ç (ts_open_sec, open_price) –ø–æ—Å–ª–µ–¥–Ω–µ–π —Å–≤–µ—á–∏.
    –†–∞–±–æ—Ç–∞–µ—Ç —Å –∞–∫—Ç—É–∞–ª—å–Ω—ã–º endpoint contract.mexc.com –∏ —Ñ–æ—Ä–º–∞—Ç–æ–º –æ—Ç–≤–µ—Ç–∞.
    """
    url = f"https://contract.mexc.com/api/v1/contract/kline/{symbol}"
    params = {"interval": interval}          # start/end –Ω–µ –Ω—É–∂–Ω—ã
    try:
        resp = session(url, params=params, timeout=10)
        resp.raise_for_status()
        j = resp.json()
        if not j.get("success", True):
            logger.warning("MEXC error: %s", j.get("msg", j.get("code")))
            return None
        # ¬´data¬ª ‚Äî —Å–ª–æ–≤–∞—Ä—å —Å –ø–æ–ª—è–º–∏‚Äë–º–∞—Å—Å–∏–≤–∞¬≠–º–∏. –ë–µ—Ä—ë–º –ø–æ—Å–ª–µ–¥–Ω–∏–µ –∑–Ω–∞—á–µ–Ω–∏—è
        ts_open_sec = int(j["data"]["time"][-1])
        price_open  = float(j["data"]["open"][-1])
        return ts_open_sec, price_open
    except Exception as exc:
        logger.warning("network/json error: %s", exc)
        return None
# ‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî‚Äî
# 4) –ö–ª–∞—Å—Å PumpWatcher (—É–ø—Ä–æ—â—ë–Ω–Ω–∞—è –≤–µ—Ä—Å–∏—è)
class PumpWatcher:
    """–û—Ç—Å–ª–µ–∂–∏–≤–∞–µ—Ç –Ω–∞—á–∞–ª–æ/–∫–æ–Ω–µ—Ü –ø–∞–º–ø–æ–≤, –ø–∏—à–µ—Ç –≤ –ë–î."""
    def __init__(self, symbol: str, pump_thr: float = PUMP_THR,
                 api_fn: Callable[[str], Optional[Tuple[int, float]]] = last_candle):
        self.symbol = symbol
        self.pump_thr = pump_thr
        self.api_fn = api_fn
        self.history: List[Tuple[int, float]] = []
        self.open_pumps: Dict[int, float] = {}

    @staticmethod
    def _bucket(age: int) -> str:
        if age < 900:
            return "fifteen_minutes"
        if age < 3 * 3600:
            return "three_hours"
        if age < 24 * 3600:
            return "one_day"
        return "more_one_day"

    def step(self) -> None:
        candle = self.api_fn(self.symbol)
        if candle is None:
            return
        ts, price = candle
        self.history.append((ts, price))

        # 1) –æ–±–Ω–∞—Ä—É–∂–∏—Ç—å —Å—Ç–∞—Ä—Ç –ø–∞–º–ø–∞
        ts_3h = ts - 3 * 3600
        base_price = next((p for (t, p) in reversed(self.history) if t <= ts_3h), None)
        if base_price and price >= base_price * self.pump_thr:
            if ts not in self.open_pumps:
                self.open_pumps[ts] = price
                logger.info("üöÄ START %s price=%.4f", datetime.utcfromtimestamp(ts), price)
                upsert_stat(self.symbol, ts, None, None, "in_deal", None)

        # 2) –∑–∞–∫—Ä—ã—Ç—å –ø–∞–º–ø—ã?
        to_close = []
        for ts_start, p_start in self.open_pumps.items():
            age = ts - ts_start
            if price <= p_start * 0.93:  # take‚Äëprofit
                bucket = self._bucket(age)
                diff = round((price - p_start) / p_start * 100, 3)
                upsert_stat(self.symbol, ts_start, ts, diff, bucket, True)
                logger.info("‚úÖ PROFIT close %dm diff=%s%%", age // 60, diff)
                to_close.append(ts_start)
            elif age > 24 * 3600:        # stop‚Äëloss –ø–æ –≤—Ä–µ–º–µ–Ω–∏
                diff = round((price - p_start) / p_start * 100, 3)
                upsert_stat(self.symbol, ts_start, ts, diff, "more_one_day", False)
                logger.info("‚ùå LOSS close >24h diff=%s%%", diff)
                to_close.append(ts_start)
        for t in to_close:
            del self.open_pumps[t]

print("–§—É–Ω–∫—Ü–∏–∏ –∏ –∫–ª–∞—Å—Å PumpWatcher –≥–æ—Ç–æ–≤—ã!")

–§—É–Ω–∫—Ü–∏–∏ –∏ –∫–ª–∞—Å—Å PumpWatcher –≥–æ—Ç–æ–≤—ã!

In [56]:

## –®–∞–≥‚ÄØ1 ‚Äî –ø–æ–¥–≥–æ—Ç–æ–≤–∏—Ç—å –±–∞–∑—É: —Å–æ–∑–¥–∞—Ç—å —Ç–∞–±–ª–∏—Ü—É –∏ –æ—á–∏—Å—Ç–∏—Ç—å –¥–∞–Ω–Ω—ã–µ
init_table()
clear_table(SYMBOL)
print(f"–¢–∞–±–ª–∏—Ü–∞ 'pump_event_stats' –æ—á–∏—â–µ–Ω–∞ –¥–ª—è {SYMBOL} ‚ú®")

–¢–∞–±–ª–∏—Ü–∞ 'pump_event_stats' –æ—á–∏—â–µ–Ω–∞ –¥–ª—è ALPACA_USDT ‚ú®

In [57]:
query = """
    SELECT coin_symbol,
            id,
           to_timestamp(pump_start_ts) AS start_utc,
           to_timestamp(pump_end_ts)   AS end_utc,
           duration_sec,
           diff_percent,
           bucket,
           is_profit
    FROM pump_event_stats
    -- WHERE coin_symbol = %s
    ORDER BY id DESC
    LIMIT 20
"""
with _pg() as conn:                         # –±–µ—Ä—ë–º —Ç–æ –∂–µ —Å–æ–µ–¥–∏–Ω–µ–Ω–∏–µ‚Äë—Ö–µ–ª–ø–µ—Ä
    df = pd.read_sql_query(query, conn, params=(SYMBOL,))

df     # –ø—Ä–æ—Å—Ç–æ –≤–µ—Ä–Ω—É—Ç—å DataFrame ‚Äî Jupyter –ø–æ–∫–∞–∂–µ—Ç –µ–≥–æ –∫–∞–∫ —Ç–∞–±–ª–∏—Ü—É

/tmp/ipykernel_1622/1601844649.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn, params=(SYMBOL,))

,coin_symbol,id,start_utc,end_utc,duration_sec,diff_percent,bucket,is_profit
0,AIL_USDT,109,2025-04-06 10:06:06+00:00,2025-04-06 10:21:12+00:00,906.0,-7.438,fifteen_minutes,True
1,AIL_USDT,108,2025-04-06 09:53:33+00:00,NaT,NaN,NaN,in_deal,None
2,AIL_USDT,107,2025-04-06 09:50:15+00:00,NaT,NaN,NaN,in_deal,None
3,AIL_USDT,106,2025-04-06 05:35:37+00:00,NaT,NaN,NaN,in_deal,None
4,AIL_USDT,105,2025-04-06 04:47:32+00:00,NaT,NaN,NaN,in_deal,None
5,AIL_USDT,104,2025-04-05 20:36:51+00:00,NaT,NaN,NaN,in_deal,None
6,AIL_USDT,103,2025-04-05 20:29:55+00:00,NaT,NaN,NaN,in_deal,None
7,AIL_USDT,102,2025-04-05 18:17:07+00:00,NaT,NaN,NaN,in_deal,None
8,AIL_USDT,101,2025-04-05 15:38:11+00:00,2025-04-05 20:00:33+00:00,15742.0,-16.423,fifteen_minutes,True
9,AIL_USDT,100,2025-04-05 14:32:04+00:00,2025-04-05 20:00:33+00:00,19709.0,-13.468,fifteen_minutes,True
10,AIL_USDT,99,2025-04-05 08:06:16+00:00,2025-04-06 08:06:16+00:00,86400.0,38.662,more_one_day,False
11,AIL_USDT,98,2025-04-05 06:41:25+00:00,2025-04-06 06:41:25+00:00,86400.0,49.200,more_one_day,False
12,AIL_USDT,97,2025-04-05 06:11:31+00:00,2025-04-06 06:11:31+00:00,86400.0,60.086,more_one_day,False
13,AIL_USDT,96,2025-04-04 16:00:31+00:00,2025-04-05 20:00:33+00:00,100802.0,-10.919,fifteen_minutes,True
14,AIL_USDT,95,2025-04-03 21:41:36+00:00,2025-04-04 04:03:00+00:00,22884.0,-18.817,fifteen_minutes,True
15,AIL_USDT,94,2025-04-03 21:39:09+00:00,2025-04-04 04:03:00+00:00,23031.0,-12.082,fifteen_minutes,True
16,AIL_USDT,93,2025-04-03 21:20:33+00:00,2025-04-04 16:11:54+00:00,67881.0,-15.254,fifteen_minutes,True
17,AIL_USDT,92,2025-04-03 21:11:02+00:00,2025-04-04 16:11:54+00:00,68452.0,-8.638,fifteen_minutes,True
18,AIL_USDT,91,2025-04-03 16:46:56+00:00,2025-04-03 18:05:31+00:00,4715.0,-11.757,fifteen_minutes,True
19,AIL_USDT,90,2025-04-03 15:49:44+00:00,2025-04-03 18:05:31+00:00,8147.0,-7.507,fifteen_minutes,True

In [58]:
## –®–∞–≥‚ÄØ2 ‚Äî —Å–¥–µ–ª–∞—Ç—å –æ–¥–∏–Ω –∑–∞–ø—Ä–æ—Å –∫¬†API –∏ –æ–±—Ä–∞–±–æ—Ç–∞—Ç—å —á–µ—Ä–µ–∑ PumpWatcher
watcher = PumpWatcher(SYMBOL)
watcher.step()   # –û–¥–∏–Ω –≤—ã–∑–æ–≤; –º–æ–∂–Ω–æ –ø–æ–≤—Ç–æ—Ä—è—Ç—å –≤—Ä—É—á–Ω—É—é

## –®–∞–≥‚ÄØ3 ‚Äî –ø–æ—Å–º–æ—Ç—Ä–µ—Ç—å –ø–æ—Å–ª–µ–¥–Ω–∏–µ –∑–∞–ø–∏—Å–∏ –≤ —Ç–∞–±–ª–∏—Ü–µ
with _pg() as conn, conn.cursor() as cur:
    cur.execute(
        """
        SELECT id, to_timestamp(pump_start_ts) AS start_utc,
               to_timestamp(pump_end_ts)   AS end_utc,
               duration_sec, diff_percent,
               bucket, is_profit
        FROM pump_event_stats
        WHERE coin_symbol=%s
        ORDER BY id DESC
        LIMIT 10
        """, (SYMBOL,)
    )
    cols = [d.name for d in cur.description]
    for row in cur.fetchall():
        print(dict(zip(cols, row)))

In [59]:

## –®–∞–≥‚ÄØ4 ‚Äî –∞–≥—Ä–µ–≥–∏—Ä–æ–≤–∞–Ω–Ω–∞—è —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–∞ –∑–∞ 72¬†—á
stats = stats_last72h(SYMBOL)
for k, v in stats.items():
    print(f"{k:15} ‚Üí {v}")

fifteen         ‚Üí None
three_h         ‚Üí None
one_d           ‚Üí None
more_d          ‚Üí None
in_deal         ‚Üí None
total           ‚Üí 0
wins            ‚Üí None
losses          ‚Üí None
sum_profit_pct  ‚Üí 0.00
sum_loss_pct    ‚Üí 0.00

In [ ]:
## –®–∞–≥‚ÄØ5 (–¥–ª–∏—Ç–µ–ª—å–Ω—ã–π) ‚Äî –Ω–µ–ø—Ä–µ—Ä—ã–≤–Ω—ã–π –º–æ–Ω–∏—Ç–æ—Ä–∏–Ω–≥
# –ó–∞–ø—É—Å—Ç–∏—Ç—å —ç—Ç—É —è—á–µ–π–∫—É, –µ—Å–ª–∏ —Ö–æ—á–µ—à—å —Å–æ–±–∏—Ä–∞—Ç—å –¥–∞–Ω–Ω—ã–µ –≤ —Ä–µ–∞–ª—å–Ω–æ–º –≤—Ä–µ–º–µ–Ω–∏.
# –ù–∞–∂–∞—Ç—å `‚èπÔ∏è` (stop) –¥–ª—è –æ—Å—Ç–∞–Ω–æ–≤–∫–∏.
import itertools
try:
    for _ in itertools.count():          # –±–µ—Å–∫–æ–Ω–µ—á–Ω—ã–π —Ü–∏–∫–ª
        watcher.step()
        time.sleep(2)              # –ø–∞—É–∑–∞ - –Ω–µ—Å–∫–æ–ª—å–∫–æ —Å–µ–∫—É–Ω–¥
except KeyboardInterrupt:
    print("‚èπÔ∏è  –û—Å—Ç–∞–Ω–æ–≤–ª–µ–Ω–æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–º")

In [ ]:
import pandas as pd
pd.read_sql_query(
    "SELECT id, to_timestamp(pump_start_ts) AS start_utc, bucket "
    "FROM pump_event_stats WHERE coin_symbol=%s ORDER BY id DESC LIMIT 5",
    _pg(), params=(SYMBOL,)
)

/tmp/ipykernel_1622/1741641148.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query(

Empty DataFrame
Columns: [id, start_utc, bucket]
Index: []